header{ 
    display:block;
    margin:auto;
    border-radius: 15px;
}
body{
    background-image:url(img/fondoToto.jpg);
    background-size: cover;
}
.btnFilmsInfo{
    display:flex;
    justify-content:center;
}
.btnIntro{
    display:flex;
    justify-content:center;
}
#bttnMoreInf, #backIntro{
    background-color: #cca872;
    border-radius: 10px;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-family:" EB Garamond";
    cursor: pointer;
}

footer{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    font: black;
    font-family: "EB Garamond";
    font-size: 20px;
    font-weight: 200;
}
.container{
    font-family:"Garamond";
    font-size:26px;
    width: 80%;
    height:max-content;
    background:    rgba(238, 215, 9, 0.459) ;

    border-radius: 20px;
    margin:auto;
    
}

.cardContainer{
    width: 320px;
    height: 320px;
    margin:10px;
    display: inline-block;

}
.cardInner{
    margin: 5px;
    width: 280px;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    border-radius: 5px;
}
.cardContainer:hover .cardInner {
    transform: rotateY(180deg);
  }
  
  .cardFront, .cardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .cardFront{
    background-color: rgba(102, 52, 45, 0.295);
    color: black;
  }
  
  .cardBack{
    background-color: rgb(0, 0, 0);
    color: white;
    transform: rotateY(180deg);
  }
.filmsTitle{
    font-size: 30px;;
	color: #000000c5;
    text-align: center;
    margin: 3px;
}


.poster{
    width: 150px;
    border-radius: 3px;
}
.filmsDescription{
    text-align: center;
    font-size:15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
	
}
.filmsYear{
    font-size: 20px;
	color: #000000c5;
    text-align: center;
    margin: 3px;
}